/* Style for body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4a5968;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header and Menu Icon */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f3f6;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-icon {
    margin-left: 20px;
}

.menu-icon span {
    font-size: 30px;
    color: #8e8e8e;
    cursor: pointer;
}

/* Login Container */
.login-container {
    background-color: #6f7b8d;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #d1d1d1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #8e3f3e;
    font-family: Arial, sans-serif;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 93%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-btn {
    background-color: #b1514f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #a04341;
}

.extra-links {
    margin-top: 10px;
    font-size: 14px;
}

.extra-links a {
    text-decoration: none;
    color: #333;
}

.extra-links a:hover {
    color: #b1514f;
}
